.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;

  font-size: 16px;
}

.mtitle{
  font-size: x-large;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 30px;
}

.box1{
  background-color: #FFFFFF;
  width: 720px;
  height: 140px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_box1{
  margin-top: 10px;
  width: 95%;
}

.box2{
  background-color: #FFFFFF;

  margin-top: 92px;

  width: 720px;
  height: 220px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;

  padding-top: 2px;
}

.rbody{
  margin-top: 8px;
  border-top: solid 1px #E0E0E0;
}

.remail{
  margin-top: 14px;
  padding-top: 2px;

  display: flex;
}



.add_bar{
  width: 40px;
  margin-right: 7px;
  text-align: center;

  color: #BDB4B4;
}


.remail_box{
  width: 650px;
}


.remail_r{
  display: flex;
  text-align: left;
}

.bt{
  width: 40px;

  margin-right: 10px;
  font-weight: bold;

  text-align: left;
}

.btext{
  text-align: left;
}

.com_name{
  margin-right: 10px;
  font-weight: bold;
}

.bcomment{
  margin-top: 4px;

}