.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: black;

  font-size: 16px;
}

.mtitle{
  font-size: x-large;
  font-weight: bold;
  margin-top: 50px;
}

.content-box{
  margin-bottom: 50px;
}

.box1{
  background-color: #FFFFFF;
  width: 720px;
  height: 140px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_box1{
  margin-top: 10px;
  width: 95%;
}



.row{
  display: flex;

  padding-top: 2px;
}



.bt{
  width: 40px;

  margin-right: 10px;
  font-weight: bold;

  text-align: left;
}

.btext{
  text-align: left;
}



