.Posting{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #E5E5E5;
}

.PostingBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  width: 720px;
  height: 140px;

  border-radius: 12px;

}

button{
  background-color: #FFFFFF;

  
  border-radius: 10px;
  border-width: 0px;
  width: 50px;
  height: 140px;
  font-size: 40px;
}

button:hover{
  background-color: rgb(0, 0, 0, 0.1);
}

.leftBox{
  margin-right: 15px;
  font-weight: bold;

  width: 665px;

}


input:focus{
  outline: none;
}
.inputId{
  margin-right: 15px;

  width: 180px;
  height: 40px;

  border-radius: 10px;
  border-width: 0px;

}

.inputTitle{
  width: 452px;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
}

.inputBody{
  margin-top: 10px;
  width: 100%;
  height: 85px;

  border-radius: 10px;
  border-width: 0px;

}
